<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiQ</title>
    <link rel="icon" href="../images/ServiQ_logo.png" type="image/x-icon">
    <link rel = "stylesheet" href = "/styles/navbar.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div style="background: red; color: white; padding: 10px;">
        DEBUG - locals.uid: <%= JSON.stringify(locals.uid) %><br>
        DEBUG - locals.email: <%= JSON.stringify(locals.email) %><br>
        DEBUG - typeof locals.uid: <%= typeof locals.uid %><br>
        DEBUG - (!locals.uid): <%= (!locals.uid) %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light container">
    <script>
      mediaQuery = window.matchMedia('(max-width: 1150px)');

      if (mediaQuery.matches) {
      let element = document.querySelector(".navbar-expand-lg");
      console.log(element);
      element.classList.remove("container");
    }
    </script>
    <a class="navbar-brand" href="#">
        <img src = "../images/ServiQ-trans.png">
    </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link login-cta" href="/">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link login-cta" href="/about">About</a>
      </li>
      <% if (!locals.uid) { %>
            <li class="nav-item">
                <a class="nav-link login-cta" href="/auth/login">Login</a>
            </li>
      <% } %>
        <% if (locals.uid) {%>
            <li class="nav-item dropdown dropdown-menu-end dropdown-menu-lg-start">
                <a class="nav-link dropdown-toggle login-cta" data-bs-toggle = "dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%=locals.email%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/view">Dashboard</a>
                <a class="dropdown-item" id = "logout-link">Logout</a>
                </div>
            </li>
        <% } %>
    </ul>
  </div>
</nav>
    <script type="module" src = "../scripts/signOut.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<script type="module">
import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js';
import { getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js';

import { firebaseConfig } from '/scripts/firebaseConfig.js'

const app = initializeApp(firebaseConfig);
const auth = getAuth(app);

let hasReloaded = false;

// window.onload = () => {
//   onAuthStateChanged(auth, async (user) => {
//     if (user && !hasReloaded) {
//       // Only reload if user is logged in, we haven't reloaded yet, and server doesn't know about user
//       hasReloaded = true;
//       const token = await user.getIdToken();
      
//       const response = await fetch(window.location.pathname, {
//         headers: {
//           'Authorization': `Bearer ${token}`
//         }
//       });
      
//       if (response.ok) {
//         const html = await response.text();
//         document.documentElement.innerHTML = html;
//       }
//     }
//   });
// };
</script>
</html>